### 데이터를 불러오기 위해서는 데이터가 저장되어 있는 위치를 알아야 합니다. 
### 제공한 데이터는 aiffel폴더 안에 저장해주시고, path라는 변수에 데이터 경로를 지정해주세요!!

In [2]:
import os

In [ ]:
ls

In [12]:
path = os.getenv("HOME")+"/aiffel/Salaries.csv"

### 데이터를 살펴보기 위해서 우리는 판다스와 넘파이를 불러와야 합니다.
* import를 이용해서 pandas, numpy 패키지를 불러오세요

In [14]:
import numpy as np
import pandas as pd

### Salaries.csv 파일을 data라는 변수명으로 불러와주세요.
* 그냥 불러오면 데이터타입 경고창이 뜰 수 있으니, 해당 경고 메시지를 구글링해서 해결해보시고 왜 이러한 경고 메시지가 뜨는지 조원들과 상의해보세요!!

In [24]:
data = pd.read_csv(path, low_memory = False)
print(data)

            Id       EmployeeName  \
0            1     NATHANIEL FORD
1            2       GARY JIMENEZ
2            3     ALBERT PARDINI
3            4  CHRISTOPHER CHONG
4            5    PATRICK GARDNER
...        ...                ...
148649  148650      Roy I Tillery
148650  148651       Not provided
148651  148652       Not provided
148652  148653       Not provided
148653  148654          Joe Lopez

                                              JobTitle       BasePay  \
0       GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY     167411.18
1                      CAPTAIN III (POLICE DEPARTMENT)     155966.02
2                      CAPTAIN III (POLICE DEPARTMENT)     212739.13
3                 WIRE ROPE CABLE MAINTENANCE MECHANIC       77916.0
4         DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)      134401.6
...                                                ...           ...
148649                                       Custodian          0.00
148650                                    Not provided  Not Provided
148651                                    Not provided  Not Provided
148652                                    Not provided  Not Provided
148653                      Counselor, Log Cabin Ranch          0.00

         OvertimePay      OtherPay      Benefits   TotalPay  TotalPayBenefits  \
0                0.0     400184.25           NaN  567595.43         567595.43
1          245131.88     137811.38           NaN  538909.28         538909.28
2          106088.18       16452.6           NaN  335279.91         335279.91
3           56120.71      198306.9           NaN  332343.61         332343.61
4             9737.0     182234.59           NaN  326373.19         326373.19
...              ...           ...           ...        ...               ...
148649          0.00          0.00          0.00       0.00              0.00
148650  Not Provided  Not Provided  Not Provided       0.00              0.00
148651  Not Provided  Not Provided  Not Provided       0.00              0.00
148652  Not Provided  Not Provided  Not Provided       0.00              0.00
148653          0.00       -618.13          0.00    -618.13           -618.13

        Year  Notes         Agency Status
0       2011    NaN  San Francisco    NaN
1       2011    NaN  San Francisco    NaN
2       2011    NaN  San Francisco    NaN
3       2011    NaN  San Francisco    NaN
4       2011    NaN  San Francisco    NaN
...      ...    ...            ...    ...
148649  2014    NaN  San Francisco     PT
148650  2014    NaN  San Francisco    NaN
148651  2014    NaN  San Francisco    NaN
148652  2014    NaN  San Francisco    NaN
148653  2014    NaN  San Francisco     PT

[148654 rows x 13 columns]

### 데이터를 불러오면 가장 먼저 해야할 것은 컬럼을 살펴보고 데이터가 어떤 정보를 가지고 있는지 확인하는 작업입니다.
* 컬럼명을 출력해보세요.

In [3]:
data.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

### 데이터를 살펴보기 위해 상위 5개, 하위 3개 row를 출력해보세요.

In [19]:
data.head(5)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [ ]:
data.tail(3)

### TotalPay column의 합, 평균, 표준편차, 중앙값을 출력해보세요.

### 컬럼별로 null값이 얼마나 있는지 확인해보세요.

In [8]:
data['TotalPay'].sum()

11114610134.380001

In [7]:
data['TotalPay'].mean()

74768.32197169267

In [10]:
data['TotalPay'].std()

50517.00527394987

In [13]:
data['TotalPay'].median()

71426.60999999999

In [16]:
data.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

### 가장 많은 TotalPay를 받는 직원의 위치를 출력해보세요.(출력되는 값은 인덱스)

In [34]:
data['TotalPay'].argmax()

0

### OvertimePay 컬럼의 평균을 구해봅시다
`주의`: `TotaltimePay`컬럼과 같은 방법으로 구할 경우 제대로 구해지지 않습니다. 조원들과 문제를 파악해보고 해결해봅시다.

In [42]:
pd.to_numeric(data['OvertimePay'], errors='coerce').mean()

5066.059886444667